.app-header {
    background: #C2E0E8;
    z-index: 99;
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    font-size: 1.5rem;
}
.app-header ul {
    display: flex;
    height: 100%;
    align-items: stretch;
    line-height: 1.2;
    text-align: center;
}
.app-header li {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 720px) and (min-width: 500px){
    .app-header {
        font-size: 16px;
    }
}
@media only screen and (max-width: 500px) {
    .app-header {
        font-size: 12px;
    }
}
.app-header > :first-child {
    flex: 1 1;
}
.app-header img{
    height: 100%;
    padding: 0 1rem;
}


.app-header li:nth-child(1) {
    background-color: #E2F6EB;
}
.app-header li:nth-child(2) {
    background-color: #E4D4F1;
}
.app-header li:nth-child(3) {
    background-color: #E2F6EB;
}
.app-header li:nth-child(4) {
    background-color: #E4D4F1;
}


.app-header li > a {
    text-decoration: none;
    transition: color .15s linear;
    margin: 0 1em;
    cursor: pointer;
}
.app-header .active a {
    color: #00f;
}
